<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499960298571-2saqph0r4voohf0u7hhnpdj8db8e57nl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499960298571-2saqph0r4voohf0u7hhnpdj8db8e57nl</string>
	<key>API_KEY</key>
	<string>AIzaSyBxxsatve8gNje5tAu0ii0CtD6E-U--e2g</string>
	<key>GCM_SENDER_ID</key>
	<string>499960298571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pictionis</string>
	<key>PROJECT_ID</key>
	<string>pictionis-bee13</string>
	<key>STORAGE_BUCKET</key>
	<string>pictionis-bee13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499960298571:ios:528ef69ad1d0c059bc21ce</string>
</dict>
</plist>